body {
    background: url('/assets/profile/logo.png') no-repeat center #061621;
    color: #fff;
    margin: 0;
}

h1 {
    margin-bottom: 0;
}
.text-gray {
    color:#a0a0a0;
}

.button {
    background: #fff;
    color: #061621;
    border-color: #acacac;
    padding: 1rem;
    line-height: inherit;
    height: inherit;
}

.button:hover, .button:focus {
    background-color:#7d7d7d;
}

.absolute-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.img-space {
    width: 200px;
    height: 250px;
}

@media (max-width: 40.0rem) {
    .hidden-sm {
        display: none;
    }
}
