html, body {
    background: #191819;
    height: 100%;
}
.container {
    max-width: inherit;
}
.container,.row {
    height: 100%;
}
.text-gold {
    color: #f8b700
}
.text-orange {
    color: #ff7c0a
}
.text-50 {
    font-size: 50%
}
.button-wow {
    border: 1px solid #c77e19;
    background: rgba(96, 108, 118, .4);
    color: #f7b10a;
    -webkit-transition: background .2s, color .2s;
    transition: background .2s, color .2s;
}
.border-wow {
    border: 1px solid #c77e19;
    color: #f7b10a;
}
.button-wow:hover,
.border-wow:hover {
    border: 1px solid #ff7c0a;
}
.streamer-profile {
    position: relative;
    text-align: center;
    color: white;
    margin: 20px;
}
.streamer-description {
    position: absolute;
    width: 80%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.border {
    position: relative;
    border: 1px solid;
    border-image: url("/assets/stream/border.png") 30 stretch;
    border-image-width: 9px;
    border-image-repeat: round;
}

.corner-top-left {
    width: 66px;
    height: 66px;
    background-repeat: no-repeat;
    background-image: url("/assets/stream/corner.png");
    transform: rotate(-90deg);
    position: absolute;
    top: -5px;
    left: -5px;
}
.corner-top-right {
    width: 66px;
    height: 66px;
    background-repeat: no-repeat;
    background-image: url("/assets/stream/corner.png");
    position: absolute;
    top: -5px;
    right: -5px;
}
.corner-bottom-left {
    width: 66px;
    height: 66px;
    background-repeat: no-repeat;
    background-image: url("/assets/stream/corner.png");
    transform: rotate(-180deg);
    position: absolute;
    bottom: -5px;
    left: -5px;
}
.corner-bottom-right {
    width: 66px;
    height: 66px;
    background-repeat: no-repeat;
    background-image: url("/assets/stream/corner.png");
    transform: rotate(90deg);
    bottom: -5px;
    right: -5px;
    position: absolute;
}

.class-druid {color:#FF7D0A}
.class-dk {color:#C41F3B}
.class-dh {color:#A330C9}
.class-hunter {color:#ABD473}
.class-mage {color:#40C7EB}
.class-monk {color:#00FF96}
.class-paladin {color:#F58CBA}
.class-priest {color:#FFFFFF}
.class-rogue {color:#FFF569}
.class-shaman {color:#0070DE}
.class-warlock {color:#8787ED}
.class-warrior {color:#C79C6E}
